.scores {
    text-align: left;
    font-size: 14px;
    width: 510px;
}

.scores td, th {
    padding-bottom: 15px;
    padding-top: 15px;
}

.scores .name {
    width: 305px;
}

.scores .photo {
    width: 84px;
}

.scores .sent {
    text-align: center;
    width: 67px;
}

.scores .received {
    text-align: center;
    width: 67px;
}

.scores tr.top-three > td.name {
    color: #4DEC9F;
}

.scores tr.current-user {
    background-color: #3B3B3B;
}

.scores .user-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

#score-container {
    overflow: scroll;
    height:400px;
}

#score-container::-webkit-scrollbar {
    width: 7px;
}

#score-container::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #3B3B3B;
}

#score-container::-webkit-scrollbar-corner {
    background-color: #272527;
}

.ModalOpen{
    height: 36px;
    width: 150px;
    background: linear-gradient(180deg, #289689 0%, #3FB27B 77.78%);
    border-style: hidden;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;

}

.SendModal .modal-dialog {
    margin-left: 135px;
}
